/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
    4. Media Queries
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul {
    list-style: none
}
/*////////////////////////
    2. Typografie
////////////////////////*/

/*////////////////////////
    3. Areas
////////////////////////*/
main {
    border:2px solid red;
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-basis: 100vw;
    width: 912px;
}
div{
    border:2px solid magenta;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}
button{
    background-color: darkgrey;
    margin:12px;
    width:118px;
}
article {
    background-color: white;
    padding:32px 9 px;
    margin:12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
li {
    background-color: darkgrey;
    padding: 3px 32px;
    border: 4px solid white;
    width: 100%;

}
/*////////////////////////
    4. Media Queries
////////////////////////*/
